---
//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events?tags";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());

const filterJuni= data.filter((one)=> one.tags === "juni")

const filterJuli= data.filter((one)=> one.tags === "juli")

const filterAugust= data.filter((one)=> one.tags === "august")

console.log(filterJuni)

/* console.log(data); */
//Dataen bliver hentet som JSON-fil
import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
import Button from "../components/Button.astro";
---
<MainLayout title="Events">
    <section class="intro">
        <article>
            <div class="text">
                <h1>Events</h1>
                <h3>Se kommende events her og lad dig inspirere.</h3>
            </div>
            <div class="sti">
                <div class="kommende">
                    <a href="/events">Kommende events</a>
                </div>
                <div class="tidligere">
                    <a href="/tidligere">Tidligere events</a>
                </div>
                <div class="artist">
                    <a href="/artister">Artister</a>
                </div>
            </div>
        </article>
    </section>
    <section class="naaste">
        <img src="/img/jens_jacob-bred.webp" class="web" alt="">
        <img src="/img/jens_jacob.webp" class="phone" alt="">
        <div class="tekst">
        <h2>Jens Jacob Tychsen</h2>
        <p>Bag om</p>
        <p><span>Badehotellet</span></p>
        <div class="button">
            <div class="large">
                <Button size="lg" link="/events" variant="primary">Læs mere</Button>
            </div>
            <div class="medium">
                <Button size="me" link="/events" variant="primary">Læs mere</Button>
            </div>
            <div class="small">
                <Button size="sm" link="/events" variant="primary">Læs mere</Button>
            </div>
        </div>
        </div>
    </section>
    <section class="juni">
    <div id="animated-text-strip">
        <span class="marquee">Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span>&nbsp;</span>
        <span class="marquee">Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span>&nbsp;</span>
        <span class="marquee">Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span> Juni 2024 <span class="circle"></span>&nbsp;</span>
      </div>
        <article class="artister">
            {filterJuni.map((person) => 
            <EventCard 
                image={`/img/${person.image}`}
                alt={`${person.alt}`}  
                status={person.status} 
                name={person.name} 
                price={person.price} 
                date={person.date} 
                type={person.type} 
                place={person.place}
                link={person.link}
                slug={person.slug} 
                />
            )}
        </article>
    </section>
    <section class="juli">
        <div id="animated-text-strip-reverse">
            <span class="marquee">Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span> Juli 2024 <span class="circle"></span>&nbsp;</span>
          </div>
        <article class="artister">
            {filterJuli.map((person) => 
                <EventCard 
                    image={`/img/${person.image}`}
                    alt={`${person.alt}`} 
                    status={`${person.status}`} 
                    name={person.name} 
                    price={person.price} 
                    date={person.date} 
                    type={person.type} 
                    place={person.place}
                    link={person.link}
                    slug={person.slug} 
                    />
                )}
        </article>
    </section>
    <section class="august">
        <div id="animated-text-strip">
            <span class="marquee">August 2024 <span class="circle"></span> August 2024 <span class="circle"></span> August 2024 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">August 2024 <span class="circle"></span> August 2024 <span class="circle"></span> August 2024 <span class="circle"></span>&nbsp;</span>
            <span class="marquee">August 2024 <span class="circle"></span> August 2024 <span class="circle"></span> August 2024 <span class="circle"></span>&nbsp;</span>
          </div>
        <article class="artister">
            {filterAugust.map((person) => 
                <EventCard 
                    image={`/img/${person.image}`}
                    alt={`${person.alt}`}  
                    status={`${person.status}`} 
                    name={person.name} 
                    price={person.price} 
                    date={person.date} 
                    type={person.type} 
                    place={person.place}
                    link={person.link}
                    slug={person.slug} 
                    />
                )}
        </article>
    </section>
</MainLayout>

<script>
    import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	
     //Web + iPad
  // create
  let mm = gsap.matchMedia();

// add a media query. When it matches, the associated function will run
mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);

    gsap.from(".naaste", {
	scrollTrigger: {
		scrub: true,
		trigger: ".intro",
		start: "-300 start",
		end: "800 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	});

    gsap.from(".juni", {
	scrollTrigger: {
		scrub: true,
		trigger: ".naaste",
		start: "-100 start",
		end: "900 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 


    gsap.from(".juli", {
	scrollTrigger: {
		scrub: true,
		trigger: ".juni",
		start: "0 start",
		end: "1100 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 

    gsap.from(".august", {
	scrollTrigger: {
		scrub: true,
		trigger: ".juli",
		start: "0 start",
		end: "1000 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 
	
});
//iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);

    gsap.from(".naaste", {
	scrollTrigger: {
		scrub: true,
		trigger: ".intro",
		start: "-300 start",
		end: "800 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	});
	
    gsap.from(".juni", {
	scrollTrigger: {
		scrub: true,
		trigger: ".naaste",
		start: "-100 start",
		end: "900 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 


    gsap.from(".juli", {
	scrollTrigger: {
		scrub: true,
		trigger: ".juni",
		start: "-100 start",
		end: "1000 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 

    gsap.from(".august", {
	scrollTrigger: {
		scrub: true,
		trigger: ".juli",
		start: "-100 start",
		end: "1000 center",
		//markers: true,
	},
    opacity:0.2,
	duration:0.5,
	}); 
	

});
</script>

<style>
    article {
        padding-inline: var(--gap11);
    }

    section {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    a {
        font-size: var(--Label-large);
        font-weight: 900;
        color: var(--color-text-body);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;

        display: flex;
        padding: var(--gap3) var(--gap2);
        justify-content: center;
        align-items: center;
    }

    a:hover {
        color: var(--color-background-button-hover);
        background-color: var(--color-background-stroke);
        outline-style: solid;
        outline-color: var(--color-background-stroke);
        outline-width: 2px;
    }
    
    .sti{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--gap3);
    }

    .kommende a {
        background-color: var(--color-background-button-primary);
        outline-style: solid;
        outline-color: var(--color-background-button-primary-stroke);
        outline-width: 2px;
        color: var(--color-background-button-hover);
    }

    .kommende a:hover {
        background-color: var(--color-button-primary);
        color: var(--color-background-button-primary);
        outline-style: solid;
        outline-color: var(--color-background-button-primary-stroke);
        outline-width: 2px;
    }

    .phone {
        display: none;
    }

    .naaste {
        position: relative;
        text-align: center;
    }

    .tekst {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .tekst > * {
        color: var(--color-button-primary);
    }

    .tekst span {
        font-size: var(--Headline2-large);
        font-weight: 900;
    }

    .tekst p {
        font-size: var(--Headline3-large);
        font-weight: 700;
    }

    .button {
        padding-top: 2rem;
    }

    .medium, .small {
        display: none;
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 24px;

        padding-bottom: var(--gap7);
    }

    .text h3 {
        font-size: 27.64px;
        font-weight: 400;
    }

    #animated-text-strip{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;

        padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
    }

    #animated-text-strip .marquee {
        white-space: nowrap;
        animation: marquee 10s linear infinite;
        max-width: none;
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(-100%, 0);
        }
    }

    #animated-text-strip-reverse{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;

        padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
    }

    #animated-text-strip-reverse .marquee {
        white-space: nowrap;
        animation: other 10s linear infinite;
        max-width: none;
    }

    @keyframes other {
        0% {
            transform: translate(-100%, 0);
        }
        100% {
            transform: translate(0, 0);
        }
    }

    .marquee {
        font-family: "Inter", sans-serif;
        font-size: var(--Headline2-large);
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
    }

    .circle {
        display: inline-flex;
        width: var(--gap4);
        height: var(--gap4);
        border-radius: 50%;
        background-color: var(--color-background-stroke);
        margin-bottom: 5px;
    }
    
    .artister {
		display: flex;
        flex-wrap: wrap;
		column-gap: var(--gap6);
        row-gap: var(--gap7);
		justify-content: flex-start;
        padding-top: 40px;
	}

    @media (max-width: 1024px){
    article {
    padding-inline: var(--gap6);
    }
    .artister{
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        width:100%;
        margin-inline: auto;
    } 

    .marquee {
        font-size: var(--Headline2-medium);
    }

    .circle {
        width: var(--gap3);
        height: var(--gap3);
    }

    .tekst span {
        font-size: var(--Headline2-medium);
        font-weight: 900;
    }

    .tekst p {
        font-size: var(--Headline3-medium);
        font-weight: 700;
    }

    .button {
        padding-top: 0.7rem;
    }

    .large {
        display: none;
    }

    .medium {
        display: flex;
    }
}
    @media (max-width: 430px){

        section {
		margin-top: 60px;
		margin-bottom: 60px;
	}
    .artister{
        overflow: auto;
        flex-wrap: nowrap;
        white-space: nowrap;
        width:100%;
        margin-inline: auto;
        padding-top: 20px;
    } 

    article {
    padding-inline: var(--gap4);
    }

    a {
        font-size: var(--Label-small);
    }
    .text h3 {
        font-size: 13.33px;
    }

    .marquee {
        font-size: var(--Headline2-small);
    }

    .circle {
        width: var(--gap2);
        height: var(--gap2);
    }

    .web {
        display: none;
    }

    .phone {
        display: flex;
    }

    .tekst {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .tekst > * {
        color: var(--color-button-primary);
    }

    .tekst span {
        font-size: var(--Headline2-small);
        font-weight: 900;
    }

    .tekst p {
        font-size: var(--Headline3-small);
        font-weight: 700;
    }

    .button {
        padding-top: 2rem;
    }
}
   
</style>