---
//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events?";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

//Lav variablen "data" som venter på url fetchet med GET metode
//API nøgle godkener adgang
const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());
//Dataen bliver hentet som JSON-fil

const filterJuni= data.filter((one)=> one.tags === "juni")


import MainLayout from "../layouts/MainLayout.astro";
import EventCard from "../components/EventCard.astro";
import Video from "../components/Video.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="Forside">
<section class="hero">
	<Video/>
</section>
<section class="cta">
	<div class="events">
		<h2>Find dit næste event</h2>
		<p>Er du også på udkig efter de fedeste events, den næste gave til fødselaren eller bare en unik oplevelse med dem du holder af?
			Kanonproduktion har det hele lige fra de største danske artister, til de sjoveste komikere og den fedeste fest eller event.
			Tjek vores kalender for at se det næste event tæt på dig.
			</p>
			<Button size="lg" link="/events" variant="primary">Se events</Button>
	</div>
	<div class="line"></div>
	<div class="booking">
		<h2>Booking og promoting</h2>
		<p>Hos kanonproduktion tilbyder vi professionelle skræddersyet løsninger i underholdningsbranchen.
			Vi arbejder projektorienteret med artister, events og færdig produktion af radio podcast og liveoptræden.
			Vi tilbyder en lang række af danske artister og færdige koncepter, lige fra de små lokale scener til de store venues, kontakt os nu og lad os snakke om dit næste event allerede i dag.
			</p>
			<Button size="lg" link="/booking" variant="secondary">Læs mere</Button>
	</div>
</section>
<section class="kommende_events">
	<h2>Kommende events</h2>
	<article class="cards">
		{filterJuni.map((person) => 
            <EventCard 
                image={`/img/${person.image}`} 
                status={person.status}
                name={person.name} 
                price={person.price} 
                date={person.date} 
                type={person.type} 
                place={person.place}
                link={person.link}
                slug={person.slug} 
                />
            )}
	</article>
</section>
<section class="andre_siger">
	<h2>Hvad andre siger om os</h2>
	<article class="testimonials">
		<div class="testimonial">
			<div class="stars">
				<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
		</div>
			<p>“Jeg kan godt lide, når det ikke er
				kæmpe koncerter. Derfor deltager
				 jeg ofte i Kanonproduktions arrangementer!”</p>
		</div>
		<div class="testimonial2">
			<div class="testimonial3">
				<div class="stars">
				<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
		</div>
		<p>“Kanonproduktion formår altid at skabe den bedste oplevelse!”</p>
		</div>
		<div class="testimonial4">
			<div class="stars">
				<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
		</div>
			<p>“Virkelig en dejlig oplevelse, med en virkelig engageret vært, som bød os varmt velkommen da vi kom.”</p>
		</div>
		</div>
		<div class="testimonial">
			<div class="stars">
				<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
			<img src="/img/star_1.svg" alt="">
		</div>
		<p>“Der er lidt til enhver smag -
				jeg har før været til koncerter, 
				men har nu også prøvet comedy. Super oplevelse endnu engang.”</p>
		</div>
	</article>
</section>
</MainLayout>

<style>

	/* @media screen and (min-width: 1400px) {
		.cards {
			gap: var(--gap11);
		}
	} */
	article{
		padding-inline: var(--gap11);
	}

	section {
		padding-block: 74px;
	}

	.cta {
		display: flex;
		justify-content: center;
		align-items: center;

		padding: 0px var(--gap11);
		gap: var(--gap13);
		height: 520px;
	}
	.events h2 {
		color: var(--color-text-h2-tertiary);
		padding-bottom: 30px;
		width: 500px;
	}

	.events p {
		width: 500px;
		padding-bottom: 70px;
	}

	.booking h2 {
		color: var(--color-text-h2-secondary);
		padding-bottom: 30px;
		width: 500px;
	}

	.booking p {
		width: 550px;
		padding-bottom: 70px;
	}

	.line {
		border-left: 2px solid var(--color-background-stroke);
		height: 475px;
	}

	.kommende_events {
		display: flex;
		flex-direction: column;
		gap: 74px;
	}

	.kommende_events h2 {
		padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);

		display: flex;
		justify-content: center;
	}
	.cards {
		display: flex;
		gap: var(--gap7);
		justify-content: center;
	}

	.andre_siger {
		display: flex;
		flex-direction: column;
		gap: 74px;
	}
	
	.andre_siger h2 {
		padding-block: var(--gap7);
		border-top: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);

		display: flex;
		justify-content: center;
	}
	.stars{
    	display: flex;
    	flex-direction: row;
    	justify-content: center;
		padding-bottom: 2rem;
    }
	.testimonials{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		margin-inline: auto;
		text-align: center;
		width: auto;
		border: 2px solid var(--color-background-stroke);
	}

	.testimonial{
		padding: 3rem;
	}
	.testimonial3{
		border-right: 2px solid var(--color-background-stroke);
		border-left: 2px solid var(--color-background-stroke);
		border-bottom: 2px solid var(--color-background-stroke);
		padding: 3rem 3rem;
	}
	.testimonial4{
		border-right: 2px solid var(--color-background-stroke);
		border-left: 2px solid var(--color-background-stroke);
		padding: 3rem 3rem;
	}

@media (max-width: 1200px){
	.testimonials{
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	margin-inline: auto;
	text-align: center;
	width: auto;
	margin: 5rem 0;
	border: 0px solid var(--color-background-stroke);
}

.testimonial3{
	border: 2px solid var(--color-background-stroke);
	margin: 2rem 0;
	padding: 4rem 2rem;
}

.testimonial4{
	border: 2px solid var(--color-background-stroke);
	margin: 2rem 0;
	padding: 4rem 2rem;
}
.testimonial{
	border: 2px solid var(--color-background-stroke);
	padding: 4rem 2rem;

}

}
</style>