---
//Henter getStaticPaths funktionen ned
export async function getStaticPaths() {
  //Lav variablen "url" med vores URL fra supabase
  const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events";

  //Lav variablen "api" med vores api nøgle
  const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

  //Lav variablen "data" som venter på url fetchet med GET metode
  //API nøgle godkener adgang
  const data = await fetch(url, {
    method: "GET",
    headers: {
      apikey: api,
    },
  }).then((response) => response.json());
  //Dataen bliver hentet som JSON-fil

  const pagesGenerate = data.map((oneArtist) => {
    return {
      params: { slug: oneArtist.slug },
      props: { person: oneArtist },
    };
  });
  console.log(data);
  return pagesGenerate;
}

const { person } = Astro.props;

//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());

import Button from "../../components/Button.astro";
import SocialIcon from "../../components/SocialIcon.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Artist">
    <section class="artist">
        <h1>{person.name}</h1>
        <img class="image web" src={`/img/${person.img}`} alt={`${person.alt}`} ">
        <img class="image phone" src={`/img/${person.image}`} alt={`${person.alt}`}>
        <a class="tidligere" href="/events">
          <div class="pil">&#10094;</div>
          <p>Andre artister</p>
        </a>
    </section>
    <section class="information">
        <div class="tekst">
          <div class="info">
            <h2>{person.name}</h2>
            <p>{person.description}</p>
          </div>
          <div class="social">
            <h4>{person.social}</h4>
            <SocialIcon></SocialIcon>
          </div>
        </div>
        <div class="box">
          <div class="infoboks">
            <div class="dato">
                <p>{person.day}</p>
                <h3>{person.date}</h3>
            </div>
            <div class="aabner">
                <p>Dørene åbner</p>
                <h3>{person.doors}</h3>
            </div>
            <div class="tid">
                <p>Showet starter</p>
                <h3>{person.begin}</h3>
            </div>
            <div class="pris">
                <p>Pris inkl. gebyr</p>
                <h3>{person.price} kr.</h3>
            </div>
            </div>
            <div class="large">
              <Button size="lg" link=`${person.link}` variant="primary">Køb billet</Button>
            </div>
            <div class="medium">
              <Button size="me" link=`${person.link}` variant="primary">Køb billet</Button>
            </div>
            <div class="small">
              <Button size="sm" link=`${person.link}` variant="primary">Køb billet</Button>
            </div>
        </div>  
    </section>
</MainLayout>

<script>
	import { gsap } from "gsap";
    
	import { ScrollTrigger } from "gsap/ScrollTrigger";

  //Web + iPad
  // create
  let mm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  mm.add("(min-width: 431px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);

  gsap.from(".information", {
	scrollTrigger: {
		scrub: true,
		trigger: ".artist",
		start: "100 start",
		end: "800 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

});

  //iPhone
  // create
  let sm = gsap.matchMedia();

  // add a media query. When it matches, the associated function will run
  sm.add("(max-width: 430px)", () => {
	
	gsap.registerPlugin(ScrollTrigger);

  gsap.from(".information", {
	scrollTrigger: {
		scrub: true,
		trigger: ".artist",
		start: "0 start",
		end: "800 center",
		// markers: true,
	},
	opacity:0.2,
	duration:0.5,
	}); 

});
</script>


<style>

  img{
    width: 100%;
    height: auto;
    margin-inline: auto;
  }
  section {
    margin-top: 80px;
		margin-bottom: 80px;
    padding-inline: var(--gap11);
	}
  h1{
    text-align: center;
    padding-bottom: 80px;
  }

  .phone {
    display: none;
  }

  .medium, .small {
    display: none;
  }

  .tidligere{
    padding-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap4);
  }

  .artist {
    display: flex;
    flex-direction: column;
  }

  .tidligere p {
    font-weight: 900;
    text-transform: uppercase;
  }

  .pil {
    cursor: pointer;
    font-size: 35px;
    color: var(--color-text-body);
  }

  .tekst {
    display: flex;
    flex-direction: column;
    gap: var(--gap9);
  }

  .tekst > *{
    width: 650px;
  }

  .information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15rem;
  }

  h4 {
    color: var(--color-text-body);
  }

  .infoboks {
    display: flex;
    flex-direction: column;
    gap: var(--gap5);
    width: 477px;
    height: auto;
  }

  .box {
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--color-background-stroke);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 25px;
    padding-inline: 15px;
    gap: var(--gap9);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: var(--gap5);
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap5);
  }


  @media (max-width: 1024px) {
    section{
		padding-inline: var(--gap6);
	}

  .tekst > *{
    width: 485px;
  }

  .information {
    gap: 5rem;
  }

  .box {

  }

  .infoboks {
    width: 340px;
  }
  .medium {
    display: flex;
  }

  .large, .small {
    display: none;
  }
  }

  @media (max-width: 430px) {

    .web {
    display: none;
  }

  .phone {
    display: flex;
    filter: grayscale(100%);
  }

    img{
    width: 100%;
    height: auto;
    margin-inline: auto;
  }
    section{
		padding-inline: var(--gap4);
    margin-top: 60px;
		margin-bottom: 60px;
	}

  .tekst > *{
    width: 100%;
  }

  .information {
    flex-direction: column;
  }

  .infoboks {
    width: 100%;
  }

  .artist {
    padding-bottom: 0px;
  }

  .information {
    gap: 30px;
  }

  .medium {
    display: none;
  }

  .small {
    display: flex;
  }
  }
</style>