---
//Henter getStaticPaths funktionen ned
export async function getStaticPaths() {
  //Lav variablen "url" med vores URL fra supabase
  const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events";

  //Lav variablen "api" med vores api nøgle
  const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

  //Lav variablen "data" som venter på url fetchet med GET metode
  //API nøgle godkener adgang
  const data = await fetch(url, {
    method: "GET",
    headers: {
      apikey: api,
    },
  }).then((response) => response.json());
  //Dataen bliver hentet som JSON-fil

  const pagesGenerate = data.map((oneArtist) => {
    return {
      params: { slug: oneArtist.slug },
      props: { person: oneArtist },
    };
  });
  console.log(data);
  return pagesGenerate;
}

const { person } = Astro.props;

//Lav variablen "url" med vores URL fra supabase
const url = "https://muqgfdguddfkghqhbdai.supabase.co/rest/v1/kanonproduktion_events";

//Lav variablen "api" med vores api nøgle
const api = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cWdmZGd1ZGRma2docWhiZGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NTI1MjcsImV4cCI6MjAzMDMyODUyN30.V1cmTeBITytZYDHSYEemvpkdSObU40QtSWsIqANjXBY";

const data = await fetch(url, {
  method: "GET",
  headers: {
    apikey: api,
  },
}).then((res) => res.json());

import Button from "../../components/Button.astro";
import SocialIcon from "../../components/SocialIcon.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Artist">
    <section class="artist">
        <h1>{person.name}</h1>
        <img src={`/img/${person.img}`} alt="">
        <a class="tidligere" href="/events">
          <div class="pil">&#10094;</div>
          <p>Andre artister</p>
        </a>
    </section>
    <section class="information">
        <div class="tekst">
            <h2>{person.name}</h2>
            <p>{person.description}</p>
            <h4>{person.social}</h4>
            <SocialIcon></SocialIcon>
        </div>
        <div class="infoboks">
            <div class="dato">
                <p>{person.day}</p>
                <h3>{person.date}</h3>
            </div>
            <div class="aabner">
                <p>Dørene åbner</p>
                <h3>{person.doors}</h3>
            </div>
            <div class="tid">
                <p>Showet starter</p>
                <h3>{person.begin}</h3>
            </div>
            <div class="pris">
                <p>Pris inkl. gebyr</p>
                <h3>{person.price}</h3>
            </div>
            <Button></Button>
        </div>
    </section>
</MainLayout>

<style>
  section {
		padding-block: 74px;
    padding-inline: var(--gap11);
	}
  h1{
    text-align: center;
    padding-bottom: 74px;
  }

  .tidligere{
    padding-top: 74px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap4);
  }

  .artist {
    display: flex;
    flex-direction: column;
  }

  .tidligere p {
    font-weight: 900;
    text-transform: uppercase;
  }

  .pil {
    cursor: pointer;
    font-size: 35px;
    color: var(--color-text-body);
  }

  .tekst {
    display: flex;
    flex-direction: column;
  }

  .tekst > *{
    width: 539px;
  }

  .information {
    display: flex;
    flex-direction: row;
  }

  h4 {
    color: var(--color-text-body);
  }
</style>