---
//Props er en stedholder for vores ting fra databasen
const { image, name, price, date, place, type, status, slug, link } = Astro.props;



import Button from "./Button.astro"
console.log("props",Astro.props)
---

    <article class={status}>
        <div class="hvem">
            <div class="kunstner">
                <div class="billede">
                    <span class="tekst">Udsolgt</span>
                    <img src={image} alt="billede af artisten">
                </div>
                <h3>{name}</h3>
            </div>
            <div class="type">
                <p>{type}</p>
            </div>
        </div>
        <div class="information">
            <div class="place">
                <p class="dato">{date}</p>
                <p class="sted">{place}</p>
            </div>
            <div class="omPris">
                <span class="tilbage">Få tilbage!</span>
            <div class="price">
                <p class="pris">{price} kr.</p>
            </div>
            </div>
        </div>
        <div class="knap">
            <Button size="sm" link=`${link}` variant="primary">Køb billet</Button>
            <Button size="sm" link={`../../artist/${slug}`} variant="tertiary">Læs mere</Button>
        </div>
    </article>

<style>

    article:hover {
        box-shadow: 10px 10px 2px var(--color-card-event-label);
    }
    article{
        width: 22.5rem;
        height: 31rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        transition: 0.3s;

        border: 2px solid var(--color-background-stroke);
        background-color: var(--color-background-body);
    }

    .kunstner {
        width: 20.75rem;
        height: 23.4375rem;
    }

    .hvem {
        position: relative;
        height: 23rem;
    }

    .kunstner h3 {
        display: flex;
        width: 16.5625rem;
        height: var(--gap11);
        padding: var(--gap1) var(--gap11) var(--gap1) var(--gap2);
        align-items: center;
        gap: var(--gap2);

        text-transform: none;
        background-color: var(--color-card-event-label);
        color: var(--color-button-primary);

        position: absolute;
        bottom: 30px;
        left: -5px;
    }

    span {
        display: none;
    }
    .type p {
        display: inline-flex;
        padding: 0.284rem;
        align-items: center;
        text-transform: uppercase;

        background-color: var(--color-card-event-label);
        color: var(--color-button-primary);
        font-size: var(--Label-large);
        font-weight: 900;
        font-size: 0.83313rem;

        position: absolute;
        left: -5px;
        bottom: -5px;
    }

    .information {
        display: flex;
        width: 20.625rem;
        align-items: center;
        gap: 2.00569rem;
    }

    .place {
        display: flex;
        width: 9.63544rem;
        height: 3.125rem;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.26044rem;
    }

    .dato {
        color: var(--color-card-text-dato);
        font-weight: 900;
        text-transform: uppercase;
        font-size: 1.10025rem;
    }

    .sted {
        color: var(--color-card-text-dato);
        font-style: italic;
        font-weight: 300;
        font-size: 0.76388rem;
    }

    .price {
        display: flex;
        width: 7.29169rem;
        padding: 0.52081rem;
        justify-content: center;
        align-items: center;
        gap: 1.97919rem;

        border-left: 0.833px solid var(--color-background-stroke);
    }

    .pris {
        color: var(--color-card-text-pris);
        font-weight: 400;
        font-size: 1.10025rem;
    }

    .knap {
        display: flex;
        flex-direction: row;
        gap: 1.6875rem;
        width: 20.625rem;
    }

    .knap a {
        color: var(--color-button-primary);
        font-size: var(--Button-small);
    }

    .udsolgt .billede {
        width: 20rem;
        height: 20rem;
        filter: blur(2px);
    }

    .udsolgt .tekst {
        color: var(--color-background-body);
        font-size: 3rem;
        font-weight: 800;
        background-color: var(--color-card-sold-out);

        display: inline-flex;
        transform: rotate(-31.633deg);
        padding: var(--gap2);
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25%;
        left: 10%;
    }

    .faatilbage .tilbage {
        color: var(--color-card-text-few-left);
        font-size: var(--Label-large);
        font-style: italic;
        font-weight: 300;
        text-transform: uppercase;

        display: flex;
        width: 7.29169rem;
        padding-block: 0.52081rem;
        justify-content: center;
        align-items: center;
    }

</style>